@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);

  --color-background: #F5F5F7;
  /* Soft Smoke White (Premium/Apple-like) */
  --color-foreground: #09090B;
  /* zinc-950 */

  --color-zinc-50: #F5F5F7;
  --color-zinc-100: #EBEBEF;
  --color-zinc-200: #E4E4E7;
  --color-zinc-300: #D4D4D8;
  --color-zinc-400: #A1A1AA;
  --color-zinc-500: #71717A;
  --color-zinc-900: #18181B;
  --color-zinc-950: #09090B;

  --radius-lg: 32px;
  --radius-md: 24px;
  --radius-sm: 12px;
  --radius-pill: 9999px;
}

@layer utilities {
  .glass-card {
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(20px);
    /* -webkit-backdrop-filter: blur(16px); */
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.05), 0 2px 4px -1px rgba(0, 0, 0, 0.03);
    will-change: transform, opacity;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    transform-style: preserve-3d;
    /* Soft subtle shadow */
  }

  .glass-heavy {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    /* -webkit-backdrop-filter: blur(18px); */
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
}

body {
  @apply bg-zinc-50 text-zinc-950 antialiased selection:bg-zinc-900 selection:text-white;
}

/* Globally hide scrollbar */
* {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

*::-webkit-scrollbar {
  display: none;
}